h1 {
    color: darkblue;
    text-align: center;
}


body {
    background: yellow;
  }
  
  /* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
  div {
    width: 700px;
    margin: auto;
    font-family: "Helvetica Neue";
    background: yellow;
    padding: 30px;
  }
  
  /* ID selector to select the element with id 'main-header' */
  #main-header {
    font-size: 22px;
    color:red;
  }
  
  /* Class selector to select elements containing the class 'perspective-questions' */
  .perspective-questions {
   font-style: italic;
  }


  div#main.container{
    background: yellow;
  }

  .red-heart {
    color: red;
  }

  li {
    list-style: none;
  }